@{
    ViewBag.Title = "ApplyinAction";
    ViewBag.app = "myApp";
}

<h2>ApplyInAction</h2>

<body ng-controller="TimeoutController">
    <button ng-click="scheduleTask()">Get Message after 3 seconds</button>
    <br />Message fetched: {{message}}
</body>

<script>
    angular.module('myApp',[]).controller('TimeoutController', function($scope) {
    $scope.scheduleTask = function() {
        setTimeout(function() {
            $scope.$apply(function () {
                $scope.message = 'Fetched after 3 seconds';
                console.log('message=' + $scope.message); //log this to console
            });
        }, 3000);}
    });
</script>