@{
    ViewBag.Title = "Blogger";
    ViewBag.app = "myApp";
}

<h2>Blogger</h2>

<body ng-controller="SiteController">
    <span>{{publisher}} excels in {{type}} books</span>
    <div ng-controller="BookController">
        <h3>Some of the popular books from {{publisher}}</h3>
        My Wish List Count: {{wishListCount}}
        <ul>
            <li ng-repeat="book in books">
                {{book}}. <a href="#" ng-click="addToWishList(book)">Add to Wish List</a>
            </li>
        </ul>
     </div>
</body>

@Scripts.Render("~/bundles/blogger")