@{
    ViewBag.Title = "SimpleApp";
    ViewBag.app = "myApp";
}

<h2>SimpleApp</h2>

<body ng-controller="FinanceController">
    Your Salary?<input type="text" ng-model="salary"><br />
    How much should you invest in gadgets?<input type="text" ng-model="percentage">%<br />
    The amount to be spent in shopping will be:<span>{{result()}}</span>
</body>

<script>
    angular.module('myApp', ['myApp.controllers']);

    angular.module('myApp.controllers', []).controller('FinanceController', function($scope) {
        $scope.salary = 0;
        $scope.percentage = 0;
        $scope.result = function() {
            return $scope.salary * $scope.percentage * 0.01;
        };
    });

</script>